.H1{font-size:16px;font-family:Oswald,sans-serif;font-weight:500;letter-spacing:.5px;line-height:24px}
.H2{font-size:16px;font-family:Oswald,sans-serif;font-weight:400;letter-spacing:.25px;line-height:20px}
.BodyMedium{font-size:14px;font-family:Oswald,sans-serif;font-weight:400;letter-spacing:.25px;line-height:20px}
.BodySmall{font-size:12px;font-family:Oswald,sans-serif;font-weight:400;letter-spacing:.25px;line-height:16px}
.Label{font-size:12px;font-family:Oswald,sans-serif;letter-spacing:.25px;line-height:16px}
.Numbering{font-size:20px;font-family:Oswald,sans-serif;font-weight:700;line-height:32px}
